body {
  width: 800px;
  font-family: Verdana, Tahoma;
}

body header {
  background-color: #eee;
  min-height: 100px;
  width: 800px;
}

body section {
  background-color: #eee;
  min-height: 260px;
  float: left;
  width: 560px;
  padding: 20px;
}

body aside {
  background-color: #eee;
  min-height: 300px;
  float: left;
  width: 200px;
}

body footer {
  float: left;
  width: 800px;
  padding-top: 10px;
  font-size: 0.8em;
}
body footer p {
  text-align: right;
}

input {
  font-size: 1.5em;
  padding: 0.2em;
}